<div class='<%="comment#{comment.id}"%> text-left comment'>
  <p>
    <%= image_tag comment.user.image, class: "img-circle profile-img" %>
    
    <strong><%= comment.user.name %></strong>
    
    (<%= time_ago_in_words comment.created_at %> ago): 
    
    <%= comment.body %>

    <% if comment.user == current_user || current_user.try(:is_admin?) %>
      <%= link_to 'DELETE', comment, method: :delete, remote: true %>
    <% end %>
  </p>
</div>