<div class='text-left comment'>
  <p>
    <%= image_tag comment.user.image, class: "img-circle profile-img" %>
    <strong><%= comment.user.name %></strong>
    (<%= comment.created_at.strftime('%b %d, %Y' ' at %l:%Mp') %>):
    <%= comment.body %>
     <%= link_to icon('fa fa-trash fa-2x text-danger'), comment, method: :delete %>
  </p>
</div>