<% flash.each do |_, value| %>
  <%= content_tag :div, value, class: 'alert alert-success' %>
<% end %>

<%= link_to('New Comic', new_comic_path, class: "btn btn-success") if current_user.try(:is_admin?) %>

<% @comics.order(created_at: :desc).each do |comic| %>

  <h2><%= comic.title %></h2>

  <a id='<%= comic.title.downcase.tr(" ", "_") %>'></a>

  <h5><%= comic.release_date.strftime('%b %d, %Y') %></h5>
  
  <div><%= render partial: 'admin_links', locals: {comic: comic} %></div>
  
  <br>
  
  <div><%= render partial: 'image', locals: {comic: comic} %></div>
  
  <br><br>

  <div><%= render partial: 'votes', locals: {comic: comic} %></div>

  <br>

  <%= render partial: 'comments', locals: {comic: comic} %></div>

  <br>

  <%= link_to('Back to Top', root_path(anchor: 'top-of-page')) %>
  <hr>
  
  <br><br><br>

<% end %>