<%= link_to 'New Comic', new_comic_path, class: "btn btn-success" %>

<p id="notice"><%= notice %></p>

    <% @comics.each do |comic| %>

      <div>
        <h2><%= comic.title %></h2>
        <div><%= image_tag comic.pic %></div>
        <h4><%= comic.release_date.strftime('%b %d, %Y') %></h4>
      
        <%= link_to icon('fa fa-eye fa-3x'), comic %>
        <%= link_to icon('fa fa-pencil fa-3x'), edit_comic_path(comic) %>
        <%= link_to icon('fa fa-trash fa-3x'), comic, method: :delete, data: { confirm: 'Are you sure?' } %>

      </div>

     <% end %>



