<%= link_to('New Comic', new_comic_path, class: "btn btn-success") if current_user.try(:is_admin?) %>

<p id="notice"><%= notice %></p>

<% @comics.each do |comic| %>

  <div>
    <h2><%= comic.title %></h2>
    <br>
    <div><%= render partial: 'image', locals: {comic: comic} %></div>
    <h4><%= comic.release_date.strftime('%b %d, %Y') %></h4>
    <br>
    <div><%= render comic.comments %></div>
    <div><%= render partial: 'comments/form', locals: {comic: comic} %></div>
    <br>
    <div><%= render partial: 'admin_links', locals: {comic: comic} %></div>
  </div>

<% end %>