<li><%= link_to icon('fa fa-shopping-cart fa-3x'), "/pages/shop" %></li> 
<li><%= link_to icon('fa fa-info-circle fa-3x'), "/pages/about" %></li>
<li><%= link_to icon('fa fa-envelope-o fa-3x'), "/pages/contact" %></li>

<% if current_user %>
  <li><%= link_to image_tag(current_user.image, class: "img-circle profile-img"), signout_path, id: "sign_out"%></li>
<% else %>
  <li><%= link_to icon('fa fa-sign-in fa-3x'), "/auth/google_oauth2", id: "sign_in" %></li>
<% end %>