<ul class="list-inline">
  <li><%= link_to "SHOP", "/pages/shop" %></li> 
  <li><%= link_to "ABOUT", "/pages/about" %></li>
  <li><%= mail_to 'acetheyellowdog@gmail.com', "CONTACT", encode: :javascript, target: '_blank' %></li>

  <% if current_user %>
    <li><%= link_to "SIGN OUT", signout_path, class: "sign_out" %></li>
    <li><%= image_tag(current_user.image, class: "img-circle profile-img") %></li>
  <% else %>
    <li><%= link_to "SIGN IN", "/auth/google_oauth2", class: "sign_in" %></li>
  <% end %>

  <li><%= button_tag 'SUBSCRIBE', class: 'btn btn-primary', data: { toggle: 'modal', target: '#myModal' } %></li>

</ul>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up For Weekly Comic Notifications</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'subscriptions/form' %>
      </div>
    </div>
  </div>
</div>