<!DOCTYPE html>
<html>
<head>
  <title>Atyd</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="google-site-verification" content="gM5MxAKFxTOq3YPK14PwmsHlarhyGo-jhI5JsFn9OkI" />
  <%= csrf_meta_tags %>
</head>

<body class='container-fluid text-center'>
  <div>
    <%= link_to image_tag('https://s3-us-west-2.amazonaws.com/acetheyellowdog/uploads/comic/pic/head.jpeg', class: 'banner-image'), root_path %>
  </div>
  <h1>The Adventures of Ace the Yellow Dog</h1>

  <nav>
    <div class="container-fluid">  
      <hr>        
      <%= render "shared/navlinks" %>
      <hr>
    </div>
  </nav>

<%= yield %>

  <div class="footer">
    <hr>
    <%= render "shared/navlinks" %>
  </div>
</body>

</html>


