<!DOCTYPE html>
<html>
<head>
  <title href='wall'>Atyd</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-site-verification" content="gM5MxAKFxTOq3YPK14PwmsHlarhyGo-jhI5JsFn9OkI" />
  <meta name="google-site-verification" content="jFZ6RCkjxJdaDUySymT3BzSFR2EOn86hiGNtbbXKkvM" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">    
  <%= csrf_meta_tags %>
</head>

<body class='container-fluid text-center'>
  <div>
    <a id="top-of-page"></a>
    <%= link_to image_tag('https://s3-us-west-2.amazonaws.com/acetheyellowdog/uploads/comic/pic/head.jpeg', class: 'banner-image'), root_path %>
  </div>
  <h1>The Adventures of Ace the Yellow Dog</h1>

  <nav>
    <div class="container-fluid">  
      <hr>        
      <%= render "shared/navlinks" %>
      <hr>
    </div>
  </nav>

<%= yield %>

  <div class="footer">
    <hr>
    &copy 2015-2016 acetheyellowdog.com
    <br>
  </div>

</body>

</html>


