<!DOCTYPE html>
<html>
<head>
  <title>Atyd</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class='text-center'>

  <div><%= image_tag 'pup_head.jpeg', class: 'banner-image' %></div>
  <h1><%= link_to "Adventures of Ace the Yellow Dog", root_path %></h1>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed btn btn-primary" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span><%= icon('fa fa-bars fa-3x')%></span>
        </button>
            
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-1">              
        <ul class="nav navbar-nav">
          <%= render "shared/navlinks" %>
        </ul>
      
      </div>
    </div>
  </nav>

<%= yield %>

  <div class="footer">
    <hr>
    <ul class="list-inline">
      <%= render "shared/navlinks" %>
    </ul>
  </div>

</body>

</html>


